body
{
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}


nav{
    display: flex;
    flex-direction: row;
    max-height: 80px;
    width: 100vw;
    justify-content: space-between;
}

nav img {
    max-height: 40px;
    width: auto;
    margin-left: 8vw;

}

nav div img {
    height: 15px;
    width: 15px;
    margin: 0 0.5vw;
}

.nav_right {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around ;
    margin-right: 10vw;
    align-items: center;
}

.membership {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vw;
    border: solid;
    border-color: lightgray;
    border-radius: 20px;
    border-width: 1px;
    font-size: 10px;
    margin: 0 0.5vw;
}

.user_icon {
    background-color: orange;
    color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 30px;
    min-height: 30px;
    margin: 0 0.5vw;

}


main {
    display: flex;
    flex-direction: row;
    padding: 0 8vw;
    margin-top: 5vw;
}

.leftcolumn {
    background-color: white;
    min-height: 100vw;
    width: 60%;
    display: flex;
    flex-direction: column;
    padding-right: 4vw;
    border-right: solid;
    border-width: 1px;
    border-color: lightgrey;
}

.choose_feed {
    margin-bottom: 5vh;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    border-bottom: solid;
    border-width: 1px;
    border-color: lightgrey;
    padding: 0.5em 0;
}

.choose_feed span {
    margin-right: 2vw;
    font-size: 0.7em;
    opacity: 0.5;
}
.choose_feed span:hover{
    opacity: 1;
    cursor: pointer;
}
.article_box {
    display: flex;
    flex-direction: row;
    max-height: 30vh;
    margin: 3vh 0;
}

.author_img {
    max-width: 15px;
    max-height: 15px;
    border-radius: 3px;
    margin-right: 1em;
}

.article_box  figure {
    width: 25vw;
    height: 20vh;
    overflow: hidden;
}
.article_box figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    margin: 0;
    display: block;
}

.author_bar {
    font-size: 0.6em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.author_bar a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}


.article_box h3 {
    margin: 0.5em 0;
}
.preview {
    color: grey;
    font-size: 0.8em;
    margin: 0.5em 0;
}

.preview p{
    margin: 0;
}

.article_info {
    color: grey;
    font-size: 0.6em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top:0.5em;
    
}

.article_info div {
    margin-right:0.7em;
}


.rightcolumn {
    background-color: white;
    min-height: 100vw;
    width: 30%;
    padding: 5vh 0 2vh 4vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}






.twitter_box {
    display: flex;
    align-items: center;
   flex-direction: column;
   min-height: 12vw;
   text-align: center;
   border-bottom: solid;
   border-width: 1px;
   border-color: lightgray;
   font-size: 0.8em;
}

.twittermediumlogos {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.twittermediumlogos img {
    max-width: 2em;
    max-height: 2em;
    
}
.twittermediumlogos i {
    max-width: 2em;
    max-height: 2em;
    
}
.twitter_box * {
    margin: 0.5em;
}

.twitter_box a {
    color: gray;
    margin-bottom: 2em;
}

#twitterbutton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em 1vw;
    border: solid;
    border-color: lightgray;
    border-radius: 20px;
    border-width: 1px;
    font-size: 10px;
    background-color: white;
    max-width: 20vw;
    flex-wrap: nowrap;
}

    #twitterbutton img {
        max-width: 2em;
        max-height: 2em;
        display: inline-block;
    }

.suggestion_box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

}

.suggestion_box button {
    margin: 0.5em 0.5em;
}

.suggestion_box span {
        width: 100%;
}
.suggestions {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vw;
    border: solid;
    border-color: lightgray;
    border-radius: 20px;
    border-width: 1px;
    font-size: 10px;
}


.follow_card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0.5em auto;
    align-items: center;
}

.follow_card img {
    height: 40px;
    width:40px;
    border-radius: 20px;

}

.follow_card h4 {
    margin:0.2em 0;
}
.follow_card p {
    margin:0;
    color:gray;
    font-size: 0.6em;
}
.follow_card div {
    width: 12vw;
}


.follow_card button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1em;
    border: solid;
    border-color: black;
    border-radius: 20px;
    border-width: 1px;
    font-size: 10px;
    background-color: white;
    height: 3em;
}

.small_article {
    margin-bottom: 1em;
}

.small_author_bar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.small_author_bar {
    font-size: 0.6em;
}

.small_author_bar img {
    width: 1.5em;
    height: 1.5em;
    border-radius: 2px;
    margin-right:1em;
}

.small_article a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.small_article h4 {
    margin: 0.5em 0 0.2em 0;
    font-size: 0.8em;
}

.small_article_info {
    font-size: 0.6em;
    color: grey;
}

.small_article_link {
    color: green;
    text-decoration: none;
    font-size: 0.8em;

}

.info {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    min-height: 10vh;

}


.info a {
    text-decoration: none;
    color: grey; 
    font-size: 0.8em;
    margin: 0 1em;
}

i {
    cursor: pointer;
}

button {
    cursor: pointer;
}